.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #edeae0;
  height: 10451px;
  position: relative;
  overflow: hidden;
}
._0 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 242.42px;
  top: 9140px;
  width: 11.24px;
  height: 14.7px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._2 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 242.42px;
  top: 9092.63px;
  width: 31.66px;
  height: 15.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._4 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 242.42px;
  top: 9036.1px;
  width: 31.66px;
  height: 15.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._6 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 242.42px;
  top: 8975.05px;
  width: 31.66px;
  height: 15.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._8 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 242.42px;
  top: 8911.74px;
  width: 31.66px;
  height: 15.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._10 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 236.77px;
  top: 8848.42px;
  width: 40.7px;
  height: 15.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._12 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 236.77px;
  top: 8785.11px;
  width: 40.7px;
  height: 16.96px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._14 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 236.77px;
  top: 8721.8px;
  width: 40.7px;
  height: 16.96px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._16 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 236.77px;
  top: 8658.48px;
  width: 40.7px;
  height: 16.96px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-4 {
  background: #292825;
  width: 44.09px;
  height: 521.2px;
  position: absolute;
  left: 285.38px;
  top: 8641.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-5 {
  background: #a4a093;
  width: 44.09px;
  height: 426.23px;
  position: absolute;
  left: 337.39px;
  top: 8736.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-6 {
  background: #a4a093;
  width: 44.09px;
  height: 394.57px;
  position: absolute;
  left: 389.4px;
  top: 8767.89px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-7 {
  background: #a4a093;
  width: 44.09px;
  height: 362.92px;
  position: absolute;
  left: 441.4px;
  top: 8799.55px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-8 {
  background: #a4a093;
  width: 44.09px;
  height: 331.26px;
  position: absolute;
  left: 493.41px;
  top: 8831.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-10 {
  background: #a4a093;
  width: 44.09px;
  height: 299.6px;
  position: absolute;
  left: 545.42px;
  top: 8862.86px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-11 {
  background: #a4a093;
  width: 44.09px;
  height: 265.69px;
  position: absolute;
  left: 597.42px;
  top: 8896.78px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-12 {
  background: #a4a093;
  width: 44.09px;
  height: 265.69px;
  position: absolute;
  left: 649.43px;
  top: 8896.78px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-13 {
  background: #a4a093;
  width: 44.09px;
  height: 265.69px;
  position: absolute;
  left: 701.44px;
  top: 8896.78px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-14 {
  background: #a4a093;
  width: 44.09px;
  height: 265.69px;
  position: absolute;
  left: 753.44px;
  top: 8896.78px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-15 {
  background: #a4a093;
  width: 44.09px;
  height: 236.29px;
  position: absolute;
  left: 805.45px;
  top: 8926.17px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-16 {
  background: #a4a093;
  width: 44.09px;
  height: 236.29px;
  position: absolute;
  left: 857.46px;
  top: 8926.17px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-17 {
  background: #a4a093;
  width: 44.09px;
  height: 236.29px;
  position: absolute;
  left: 909.46px;
  top: 8926.17px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-18 {
  background: #a4a093;
  width: 44.09px;
  height: 236.29px;
  position: absolute;
  left: 961.47px;
  top: 8926.17px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-19 {
  background: #a4a093;
  width: 44.09px;
  height: 236.29px;
  position: absolute;
  left: 1013.48px;
  top: 8926.17px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.miles-davis {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 259.38px;
  top: 9231.34px;
  width: 83.66px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.john-coltrane {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 293.3px;
  top: 9246.93px;
  width: 104.01px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.tom-waits {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 360px;
  top: 9226.14px;
  width: 76.88px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.john-williams {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 396.18px;
  top: 9247.12px;
  width: 151.5px;
  height: 66.7px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.bob-dylan {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 474.19px;
  top: 9226.41px;
  width: 75.75px;
  height: 18.09px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.the-bealtes {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 514.89px;
  top: 9234.46px;
  width: 84.79px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.herbie-hancock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 544.29px;
  top: 9262.97px;
  width: 117.58px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.the-fall {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 636.99px;
  top: 9216.73px;
  width: 54.27px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.ennio-morricone {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 649.43px;
  top: 9262.18px;
  width: 120.97px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.pharoah-sanders {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 699.18px;
  top: 9263.65px;
  width: 124.36px;
  height: 16.96px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.mc-coy-tyner {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 765.88px;
  top: 9244.86px;
  width: 98.36px;
  height: 21.48px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.swans {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 848.41px;
  top: 9208.15px;
  width: 47.48px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.thelonious-monk {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 850.67px;
  top: 9269.9px;
  width: 126.63px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.sonny-rollins {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 921.9px;
  top: 9243.99px;
  width: 97.23px;
  height: 21.48px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.iron-maiden {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 986.34px;
  top: 9240.19px;
  width: 89.32px;
  height: 19.22px;
  transform-origin: 0 0;
  transform: rotate(-50deg) scale(1, 1);
}
.number-of-albums {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 55px;
  top: 9136px;
  width: 186.55px;
  height: 23.74px;
}
.this-graph-shows-the-number-of-albums-by-artist-with-musicians-sorted-in-descending-order-by-the-number-of-albums-t-gives-an-overview-of-which-artists-have-the-most-albums-in-the-dataset-and-how-many-albums-they-have-released-you-can-see-that-jazz-musicians-dominate-the-top-of-the-list {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 69px;
  top: 8465px;
  width: 1050px;
  height: 210px;
}
.it-may-not-seem-like-the-right-thing-to-do-to-line-up-musicians-works-but-for-someone-just-starting-to-discover-and-listen-to-music-you-d-be-hard-pressed-to-find-a-more-attractive-website-rym-s-20-year-database-is-a-great-resource-for-musicians-and-will-help-you-create-your-own-criteria-for-what-makes-good-music {
  color: #212121;
  text-align: justified;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 300;
  position: absolute;
  left: 1274px;
  top: 9995px;
  width: 588px;
  height: 210px;
}
.most-prolific-artists-in-the-dataset {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 69px;
  top: 8333px;
}
.database-by-sonemic {
  color: #212121;
  text-align: center;
  font-family: "SourceHanSerifJp-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 51px;
  top: 10135px;
}
.media-design-2-final-work {
  color: #646464;
  text-align: center;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  left: 51px;
  top: 10344px;
}
.however-the-average-rating-rose-slightly-in-the-2000-s-and-then-fell-again-in-the-2010-s-this-graph-helps-you-understand-the-year-to-year-trend-in-album-ratings-and-you-can-see-that-older-albums-tend-to-receive-higher-ratings {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 668px;
  top: 7891px;
  width: 385px;
  height: 210px;
}
.from-the-graph-you-can-see-that-the-average-album-rating-was-relatively-constant-in-the-1960-s-and-1970-s-but-began-to-decline-in-the-1980-s-and-1990-s {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 676px;
  top: 7545px;
  width: 776px;
  height: 210px;
}
.distribution-of-album-ratings-by-decade {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 668px;
  top: 7433px;
}
._1950 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1184px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1960 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1268px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1970 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1352px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1980 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1439px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1990 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1524px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._2000 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1605px;
  top: 8218px;
  width: 38px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._2010 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1690px;
  top: 8218px;
  width: 33px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._2020 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1776px;
  top: 8218px;
  width: 36px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-74 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1126px;
  top: 8134px;
  width: 30px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-76 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1126px;
  top: 8074px;
  width: 30px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-78 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1126px;
  top: 8011px;
  width: 31px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-80 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 7949px;
  width: 32px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-82 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 7886px;
  width: 30px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-84 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 7824px;
  width: 32px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.decade {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 1180px;
  top: 8247px;
  width: 120.85px;
  height: 58.89px;
}
.average-rating {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 1015px;
  top: 8175px;
  width: 141px;
  height: 21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.vector-2 {
  width: 598.5px;
  height: 357.5px;
  position: absolute;
  left: 1193px;
  top: 7825px;
  overflow: visible;
}
.rectangle-172 {
  background: #ece3c7;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 116.72px;
  height: 30.83px;
  position: absolute;
  left: 651.53px;
  top: 6704.94px;
}
.rectangle-182 {
  background: #dbd2b5;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 129.05px;
  height: 30.83px;
  position: absolute;
  left: 623.34px;
  top: 6741.05px;
}
.rectangle-192 {
  background: #c9c0a3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 125.09px;
  height: 30.83px;
  position: absolute;
  left: 651.53px;
  top: 6777.17px;
}
.rectangle-20 {
  background: #bbb296;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 226.39px;
  height: 30.83px;
  position: absolute;
  left: 623.34px;
  top: 6813.29px;
}
.rectangle-21 {
  background: #aaa287;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 136.98px;
  height: 30.83px;
  position: absolute;
  left: 654.61px;
  top: 6849.4px;
}
.rectangle-22 {
  background: #9b947b;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 129.49px;
  height: 30.83px;
  position: absolute;
  left: 690.73px;
  top: 6885.52px;
}
.rectangle-23 {
  background: #807a66;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 210.54px;
  height: 30.83px;
  position: absolute;
  left: 646.24px;
  top: 6921.2px;
}
.rectangle-24 {
  background: #696453;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115.4px;
  height: 30.83px;
  position: absolute;
  left: 727.29px;
  top: 6956.87px;
}
.rectangle-25 {
  background: #555143;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 98.22px;
  height: 30.83px;
  position: absolute;
  left: 646.24px;
  top: 6992.55px;
}
.rectangle-26 {
  background: #423f34;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 57.26px;
  height: 30.83px;
  position: absolute;
  left: 633.47px;
  top: 7028.23px;
}
.rectangle-27 {
  background: #312e26;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 123.77px;
  height: 30.83px;
  position: absolute;
  left: 633.47px;
  top: 7063.9px;
}
.rectangle-28 {
  background: #211f19;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 90.73px;
  height: 30.83px;
  position: absolute;
  left: 616.29px;
  top: 7099.58px;
}
.rectangle-29 {
  background: #151410;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 101.3px;
  height: 30.83px;
  position: absolute;
  left: 666.94px;
  top: 7135.7px;
}
.rectangle-30 {
  background: #0d0c0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 108.35px;
  height: 30.83px;
  position: absolute;
  left: 734.33px;
  top: 7171.37px;
}
.rectangle-31 {
  background: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 177.94px;
  height: 30.83px;
  position: absolute;
  left: 642.28px;
  top: 7207.05px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.post-punk {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 246px;
  top: 6712px;
  width: 99px;
  height: 16px;
}
.hard-rock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 246px;
  top: 6747px;
  width: 124px;
  height: 17px;
}
.symphonic-prog-progressive-rock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 89px;
  top: 6777px;
  width: 305px;
  height: 18px;
}
.heavy-metal {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 233px;
  top: 6813px;
  width: 124px;
  height: 18px;
}
.thrash-metal {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 229px;
  top: 6850px;
  width: 141px;
  height: 17px;
}
.hard-bop {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 250px;
  top: 6887px;
  width: 154px;
  height: 17px;
}
.indie-rock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 246px;
  top: 6923px;
  width: 116px;
  height: 18px;
}
.post-bop {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 253px;
  top: 6960px;
  width: 117px;
  height: 18px;
}
.progressive-rock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 205px;
  top: 6996px;
  width: 186px;
  height: 18px;
}
.progressive-rock-symphonic-prog {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 7033px;
  width: 298px;
  height: 16px;
}
.alternative-rock {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 201px;
  top: 7070px;
  width: 167px;
  height: 17px;
}
.progressive-metal {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 194px;
  top: 7106px;
  width: 179px;
  height: 17px;
}
.avant-garde-jazz {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 194px;
  top: 7143px;
  width: 180px;
  height: 16px;
}
.film-score-cinematic-classical {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 7180px;
  width: 282px;
  height: 17px;
}
.death-metal {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 235px;
  top: 7219px;
  width: 147px;
  height: 17px;
}
._3-5 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 324.53px;
  top: 7258.12px;
  width: 24.94px;
  height: 16.62px;
}
._3-6 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 453.37px;
  top: 7258.12px;
  width: 23.9px;
  height: 16.62px;
}
._3-7 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 581.36px;
  top: 7258.19px;
  width: 19.5px;
  height: 17.06px;
}
._3-8 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 710.01px;
  top: 7258.12px;
  width: 23.9px;
  height: 16.62px;
}
._3-9 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 838.89px;
  top: 7258.19px;
  width: 21.12px;
  height: 17.06px;
}
._4-0 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 967.26px;
  top: 7258.19px;
  width: 21.12px;
  height: 17.06px;
}
._4-1 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1095.62px;
  top: 7258.19px;
  width: 21.12px;
  height: 17.06px;
}
.rectangle-37 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 857.91px;
  height: 549.19px;
  position: absolute;
  left: 323.82px;
  top: 6696px;
}
.album-rating {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 275.47px);
  top: 7287.44px;
  width: 117.8px;
  height: 23.56px;
}
.genre {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 44.35px;
  top: 7008.1px;
  width: 117.8px;
  height: 23.56px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.distribution-of-album-ratings-by-genre {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 69px;
  top: 6446px;
}
.classical-music-has-the-highest-average-rating-while-rap-has-the-lowest-average-rating-the-interquartile-range-also-varies-significantly-across-genres-indicating-that-some-genres-have-more-consistent-ratings-than-others-overall-this-chart-provides-valuable-insight-into-the-relationship-between-album-ratings-and-genres-and-can-help-music-lovers-and-industry-professionals-make-informed-decisions-about-which-genres-to-invest-in-or-explore-further {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 1211px;
  top: 6865px;
  width: 632px;
  height: 210px;
}
.vector-1 {
  width: 589px;
  height: 496px;
  position: absolute;
  left: 1246px;
  top: 5872px;
  overflow: visible;
}
.rectangle-162 {
  background: #edeae0;
  width: 600px;
  height: 6px;
  position: absolute;
  left: 1243px;
  top: 6365px;
}
.release-year {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1179px;
  top: 6327px;
  width: 145px;
  height: 29px;
}
.density {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1071px;
  top: 6346px;
  width: 145px;
  height: 29px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._1940 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1188px;
  top: 6378px;
  width: 39px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-000 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 6348px;
  width: 43px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-005 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 6281px;
  width: 41px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-010 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 6207px;
  width: 37.73px;
  height: 14.94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-015 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0undefined;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 6133px;
  width: 37.73px;
  height: 14.94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-015-span {
  color: #000000;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
._0-015-span2 {
  color: #000000;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 400;
}
._0-020 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 6057px;
  width: 41px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-025 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 5983px;
  width: 41px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._0-030 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1115px;
  top: 5908px;
  width: 42px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._19602 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1324px;
  top: 6378px;
  width: 39px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._19802 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1460px;
  top: 6378px;
  width: 38px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._20002 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1594px;
  top: 6378px;
  width: 43px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._20202 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1729px;
  top: 6378px;
  width: 41px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.with-the-invention-of-da-ws-in-the-2000-s-we-can-expect-that-the-end-of-the-century-was-a-time-of-prolific-album-releases-and-the-creation-of-a-wide-variety-of-sounds-utilizing-computers-it-s-also-interesting-to-see-a-sharp-increase-in-album-releases-starting-in-the-1960-s-this-suggests-that-popular-music-really-took-off-after-the-1960-s {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 69px;
  top: 6004px;
  width: 505px;
  height: 210px;
}
.the-distribution-of-releases-continued-to-increase-until-2000-when-it-gradually-decreased-the-top-5000-albums-show-that-recent-releases-are-not-as-well-received-as-older-ones {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 58px;
  top: 5653px;
  width: 688px;
  height: 86px;
}
.this-graph-shows-that-the-distribution-of-album-ratings-varies-significantly-across-the-top-15-genres {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 69px;
  top: 6563px;
  width: 688px;
  height: 86px;
}
.distribution-of-album-release-years {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 5532px;
}
._3-62 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1275px;
  top: 5473px;
  width: 23px;
  height: 36px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._02 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1144.73px;
  top: 5436px;
  width: 9.94px;
  height: 13px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._200 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 5378px;
  width: 28px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._400 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 5305px;
  width: 28px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._600 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 5233px;
  width: 28px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._800 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 5159px;
  width: 28px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1000 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 5086px;
  width: 36px;
  height: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._1200 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1125px;
  top: 5016px;
  width: 36px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._3-83 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1492px;
  top: 5474px;
  width: 24px;
  height: 36px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._4-02 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1654px;
  top: 5474px;
  width: 31px;
  height: 36px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._4-2 {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1763px;
  top: 5473px;
  width: 30px;
  height: 36px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-2 {
  background: #a4a093;
  width: 39.01px;
  height: 46.66px;
  position: absolute;
  left: 1244.93px;
  top: 5401.85px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-142 {
  background: #a4a093;
  width: 39.01px;
  height: 26.01px;
  position: absolute;
  left: 1190.63px;
  top: 5422.5px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-3 {
  background: #a4a093;
  width: 39.01px;
  height: 221.81px;
  position: absolute;
  left: 1299.24px;
  top: 5226.69px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-42 {
  background: #292825;
  width: 39.01px;
  height: 424.5px;
  position: absolute;
  left: 1353.54px;
  top: 5024.01px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-52 {
  background: #a4a093;
  width: 39.09px;
  height: 342.88px;
  position: absolute;
  left: 1407.84px;
  top: 5105.84px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-62 {
  background: #a4a093;
  width: 39.01px;
  height: 281.47px;
  position: absolute;
  left: 1462.15px;
  top: 5167.03px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-72 {
  background: #a4a093;
  width: 39.01px;
  height: 182.8px;
  position: absolute;
  left: 1516.45px;
  top: 5265.7px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-82 {
  background: #a4a093;
  width: 39.01px;
  height: 115.49px;
  position: absolute;
  left: 1570.76px;
  top: 5333.01px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-102 {
  background: #a4a093;
  width: 39.01px;
  height: 76.49px;
  position: absolute;
  left: 1625.06px;
  top: 5372.02px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-112 {
  background: #a4a093;
  width: 39.01px;
  height: 35.95px;
  position: absolute;
  left: 1679.37px;
  top: 5412.55px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-122 {
  background: #a4a093;
  width: 39.01px;
  height: 19.12px;
  position: absolute;
  left: 1733.67px;
  top: 5429.38px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-132 {
  background: #a4a093;
  width: 39.01px;
  height: 10.71px;
  position: absolute;
  left: 1787.98px;
  top: 5437.79px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rating {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1385px;
  top: 5488px;
  width: 47px;
  height: 24px;
}
.count {
  color: #000000;
  text-align: left;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1090px;
  top: 5267px;
  width: 53px;
  height: 21px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.the-histogram-shows-that-typical-album-ratings-are-most-commonly-distributed-in-the-3-6-to-4-0-range-with-about-1200-albums-with-ratings-between-3-68-and-3-72-there-are-relatively-few-albums-with-ratings-below-3-0-or-above-4-5 {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 681px;
  top: 5170px;
  width: 350px;
  height: 111px;
}
.there-are-also-many-albums-in-rym-with-an-average-rating-of-1-however-since-the-albums-in-the-dataset-are-the-distribution-of-the-top-5000-albums-we-can-see-that-the-ratings-are-highly-distributed {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 681px;
  top: 4741px;
  width: 657px;
  height: 111px;
}
.distribution-of-album-ratings {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 681px;
  top: 4620px;
}
.image-9 {
  width: 544px;
  height: 544px;
  position: absolute;
  left: 1284px;
  top: 3971px;
  object-fit: cover;
}
.rectangle-32 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 545px;
  height: 545px;
  position: absolute;
  left: 1283px;
  top: 3970px;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1285px;
  top: 3710px;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1284px;
  top: 3758px;
}
.ratings-20-391 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1283px;
  top: 3919px;
}
.average-rating-3-92 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1616px;
  top: 3919px;
}
.top-korean-albums-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 38px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1284px;
  top: 3625px;
}
.image-8 {
  width: 544px;
  height: 543px;
  position: absolute;
  left: 681px;
  top: 3971px;
  object-fit: cover;
}
.rectangle-322 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 545px;
  height: 545px;
  position: absolute;
  left: 680px;
  top: 3970px;
}
.fishmans {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 681px;
  top: 3710px;
}
._98-12-28 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 678px;
  top: 3758px;
}
.ratings-21454 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 680px;
  top: 3919px;
}
.average-rating-4-40 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1010px;
  top: 3919px;
}
.top-live-albums-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 678px;
  top: 3623px;
}
.image {
  width: 543px;
  height: 542px;
  position: absolute;
  left: 74px;
  top: 3972px;
  object-fit: cover;
}
.rectangle-323 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 544px;
  height: 544px;
  position: absolute;
  left: 73px;
  top: 3971px;
}
.death-grips {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 78px;
  top: 3710px;
}
.exmilitary {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 78px;
  top: 3758px;
}
.ratings-35-444 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 73px;
  top: 3919px;
}
.average-rating-4-17 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 407px;
  top: 3919px;
}
.top-mixtapes-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 78px;
  top: 3623px;
}
.ratings-19-922 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1290px;
  top: 2975px;
}
.average-rating-4-172 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1624px;
  top: 2975px;
}
.godspeed-you-black-emperor {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1290px;
  top: 2766px;
}
.slow-riot-for-new-zer-kanada {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1290px;
  top: 2814px;
}
.top-e-ps-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 1290px;
  top: 2662px;
}
.image-11 {
  width: 542px;
  height: 542px;
  position: absolute;
  left: 1291px;
  top: 3023px;
  object-fit: cover;
}
.rectangle-33 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 544px;
  height: 544px;
  position: absolute;
  left: 1290px;
  top: 3022px;
}
.image-7 {
  width: 544px;
  height: 544px;
  position: absolute;
  left: 680px;
  top: 3022px;
  object-fit: cover;
}
.rectangle-324 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 544px;
  height: 544px;
  position: absolute;
  left: 680px;
  top: 3022px;
}
.ratings-6768 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 681px;
  top: 2975px;
}
.average-rating-4-73 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 1014px;
  top: 2975px;
}
.the-bealtes2 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 675px;
  top: 2766px;
}
.a-day-in-the-life {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 675px;
  top: 2814px;
}
.top-songs-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 678px;
  top: 2662px;
}
.image-1 {
  width: 543px;
  height: 543px;
  position: absolute;
  left: 74px;
  top: 3022px;
  object-fit: cover;
}
.radio-head {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 2766px;
}
.ok-computer {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 36px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 2814px;
}
.ratings-74027 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 75px;
  top: 2975px;
}
.average-rating-4-24 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 407px;
  top: 2975px;
}
.top-albums-of-all-time {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 2662px;
}
.rectangle-325 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 544px;
  height: 544px;
  position: absolute;
  left: 73px;
  top: 3022px;
}
.total-ratings-30-395-572 {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 90px;
  letter-spacing: -0.03em;
  font-weight: 500;
  position: absolute;
  left: 85px;
  top: 1125px;
}
.image-2 {
  width: 366px;
  height: 366px;
  position: absolute;
  left: calc(50% - 771px);
  top: 632px;
  object-fit: cover;
}
.ellipse-1 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 365px;
  height: 365px;
  position: absolute;
  left: 188px;
  top: 633px;
}
.we-analyzed-the-top-5000-albums-of-all-time-from-the-music-rating-website-rate-your-music-rym-and-came-up-with-some-interesting-information-rym-is-one-of-the-largest-music-databases-and-communities-online-and-can-be-used-in-endless-ways-to-discover-new-music {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 725px;
  top: 885px;
  width: 1138px;
  height: 210px;
}
.rym-uses-a-five-star-rating-system-that-allows-all-users-to-rate-any-music-from-0-5-to-5-stars-in-half-star-increments-this-can-be-analyzed-to-see-what-types-of-music-users-prefer-and-rate-highly {
  color: #484848;
  text-align: justified;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 300;
  position: absolute;
  left: 1281px;
  top: 1145px;
  width: 590px;
  height: 210px;
}
.the-velvet-underground-photo-charlie-gillett-collection-redferns-1967-1973 {
  color: #484848;
  text-align: justified;
  position: absolute;
  left: 41px;
  top: 1953px;
  width: 590px;
  height: 116px;
}
.the-velvet-underground-photo-charlie-gillett-collection-redferns-1967-1973-span {
  color: #484848;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.the-velvet-underground-photo-charlie-gillett-collection-redferns-1967-1973-span2 {
  color: #484848;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 30px;
  letter-spacing: -0.06em;
  font-weight: 300;
}
.the-beatles-photo-by-1962-1970 {
  color: #484848;
  text-align: justified;
  position: absolute;
  left: 41px;
  top: 5314px;
  width: 590px;
  height: 116px;
}
.the-beatles-photo-by-1962-1970-span {
  color: #484848;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.the-beatles-photo-by-1962-1970-span2 {
  color: #484848;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 30px;
  letter-spacing: -0.06em;
  font-weight: 300;
}
.godspeed-you-black-emperor-live-at-roadburn-festival-in-2018-1994 {
  color: #484848;
  text-align: justified;
  position: absolute;
  left: 41px;
  top: 8081px;
  width: 590px;
  height: 116px;
}
.godspeed-you-black-emperor-live-at-roadburn-festival-in-2018-1994-span {
  color: #484848;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 28px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.godspeed-you-black-emperor-live-at-roadburn-festival-in-2018-1994-span2 {
  color: #484848;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 26px;
  letter-spacing: -0.06em;
  font-weight: 300;
}
.miles-davis-photo-francis-wolff-1926-1991 {
  color: #484848;
  text-align: right;
  position: absolute;
  left: 1276px;
  top: 9174px;
  width: 590px;
  height: 116px;
}
.miles-davis-photo-francis-wolff-1926-1991-span {
  color: #484848;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 28px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.miles-davis-photo-francis-wolff-1926-1991-span2 {
  color: #484848;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 26px;
  letter-spacing: -0.06em;
  font-weight: 300;
}
.fishmans-fishmans-the-moive-1987-1999 {
  color: #484848;
  text-align: left;
  position: absolute;
  left: 45px;
  top: 9984px;
  width: 590px;
  height: 116px;
}
.fishmans-fishmans-the-moive-1987-1999-span {
  color: #484848;
  font-family: "SfProDisplay-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.fishmans-fishmans-the-moive-1987-1999-span2 {
  color: #484848;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 30px;
  letter-spacing: -0.06em;
  font-weight: 300;
}
.www-rateyourmusic-com {
  color: #000000;
  text-align: center;
  font-family: "SourceHanSerif-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 224px;
  top: 1026px;
}
.analyzing-the-5000-albums-dataset {
  color: #000000;
  text-align: left;
  font-family: "SourceHanSerif-Medium", sans-serif;
  font-size: 100px;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 134px;
  width: 1523px;
}
.rectangle-332 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: -9px;
  top: -1px;
}
.rectangle-34 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: 49px;
  top: -9px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-35 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: 1921px;
  top: -9px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-36 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: 1929px;
  top: 49px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.image2 {
  width: 607px;
  height: 681px;
  position: absolute;
  left: 42px;
  top: 9290px;
  object-fit: cover;
}
.rectangle-333 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: 1929px;
  top: 10452px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.rectangle-342 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: 1871px;
  top: 10460px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-352 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: -1px;
  top: 10460px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-362 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 50px;
  position: absolute;
  left: -9px;
  top: 10402px;
}
.image-10 {
  width: 1221px;
  height: 668px;
  position: absolute;
  left: 41px;
  top: 1277px;
  object-fit: cover;
}
.made-with-figma {
  color: #646464;
  text-align: center;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 24px;
  letter-spacing: 0.02em;
  font-weight: 300;
  position: absolute;
  left: 1693px;
  top: 330px;
}
.support-by-sonemic {
  color: #646464;
  text-align: center;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  left: 61px;
  top: 330px;
}
.by-reading-poetry-the-right-mind-is-raised-by-observing-example-the-body-is-built-up-by-listening-to-music-the-character-is-perfected {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 48px;
  letter-spacing: 0.03em;
  font-weight: 600;
  position: absolute;
  left: 1033px;
  top: 2155px;
  width: 787px;
}
.b-c-551-479 {
  color: #323232;
  text-align: justified;
  font-family: "SourceHanSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1556px;
  top: 2533px;
}
.ok-computer-is-here {
  color: #464646;
  text-align: justified;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  font-weight: 300;
  position: absolute;
  left: 1728px;
  top: 5381px;
}
.we-hope-that-these-analyzes-are-useful-to-you-hope-you-the-best-of-luck-in-further-solidifying-your-own-tastes {
  color: #000000;
  text-align: justified;
  font-family: "SourceHanSerif-SemiBold", sans-serif;
  font-size: 60px;
  letter-spacing: -0.06em;
  font-weight: 600;
  position: absolute;
  left: 664px;
  top: 9329px;
  width: 1465px;
}
.a-day-in-the-life-is-here {
  color: #464646;
  text-align: justified;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  font-weight: 300;
  position: absolute;
  left: 1257px;
  top: 6172px;
}
.godspeed-is-here {
  color: #464646;
  text-align: justified;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  font-weight: 300;
  position: absolute;
  left: 1529px;
  top: 8020px;
}
.image-14 {
  width: 607px;
  height: 710px;
  position: absolute;
  left: 41px;
  top: 7364px;
  object-fit: cover;
}
.this-is-not-an-official-website-created-by-rym {
  color: #646464;
  text-align: center;
  font-family: "SfProDisplay-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  left: 1358px;
  top: 10345px;
  width: 559px;
}
.image-12 {
  width: 754px;
  height: 551px;
  position: absolute;
  left: 1112px;
  top: 8611px;
  object-fit: cover;
}
.image-15 {
  width: 607px;
  height: 753px;
  position: absolute;
  left: 41px;
  top: 4555px;
  object-fit: cover;
}
.group-1 {
  height: auto;
  position: absolute;
  left: 39px;
  top: 0px;
  overflow: visible;
}
